# Local Terraform files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Terraform variable files (may contain sensitive data)
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform providers and module caches
.terraform/
.terraform.lock.hcl

# Ignore temporary files and sensitive output files
*.plan
*.log
